<table class="table">

	<thead>
		{% for header in headers %}
			<th>{{ header }}</th>
		{% endfor %}
	</thead>

	<tbody>
		<tr ng-repeat="col in vm.data.{{ data_value }}" ng-if="vm.data.{{ data_value }} && vm.data.{{ data_value }}.length != 0">

			{% for col_name in cols %}
				<td ng-bind="col.{{ col_name }} || '-'"></td>
			{% endfor %}

		</tr>
		<tr ng-if="!vm.data.{{ data_value }} || vm.data.{{ data_value }}.length == 0">
			<td  class="text-center" colspan="{{ cols|length }}">Belum ada data</td>
		</tr>
	</tbody>

</table>