<div class="col-12">
	
	{% verbatim %}
		<div class="col-12 mb-3" ng-if="!vm.data.id">
			<button class="btn btn-redirect" action-url="/{{vm.model}}">Back</button>
		</div>
		<div class="col-12 mb-3" ng-if="vm.data.id">
			<button class="btn btn-redirect" action-url="/{{vm.model}}/detail/{{vm.data.id}}">Back</button>
			<button class="btn btn-danger btn-delete">Delete</button>
		</div>
	{% endverbatim %}

	<div class="card">

		{% verbatim %}
			<div class="card-header">
				<h3>Form {{ vm.pageTitle }}</h3>
			</div>
		{% endverbatim %}

		<div class="card-content px-3">
			
			{% block form %}{% endblock %}

		</div>

		{% verbatim %}
			<div class="card-footer">
				<button class="btn btn-redirect" action-url="/{{vm.model}}" ng-if="!vm.data.id">Cancel</button>
				<button class="btn btn-redirect" action-url="/{{vm.model}}/detail/{{vm.data.id}}" ng-if="vm.data.id">Cancel</button>
				<button class="btn btn-success btn-save">Save</button>
			</div>
		{% endverbatim %}

	</div>	

</div>