{% extends "root/base.twig" %}

{% block title %}Register{% endblock %}


{% block content %}

	<div class="col-12">
		<form class="shadow mb-4 mt-4" action="/register/submit" method="POST" enctype="multipart/form-data">

			<input type="hidden" name="biaya_pendaftaran" value="{{ pta.total_biaya }}">
			<input type="hidden" name="pendaftaran_id" value="{{ pendaftaran.id }}">
			<!-- <input type="hidden" name="panitia_id" value="{{ panitia.id }}"> -->

			<div class="title-register mb-3">
				Form Pendaftaran Mahasiswa Baru
			</div>

			<div id="wizard">
			    <h1><span class="wizard-title" title="Data Diri">Data Diri</span></h1>
			    <div>
				    <div class="row">
						<div class="col-sm-6">
							<label for="nik">NIK</label>
							<input type="text" name="nik" id="nik" class="form-control nik auto-update" number="" length="16" required="">
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama">Nama Lengkap</label>
								<input type="text" name="nama" id="nama" class="form-control uppercase auto-update" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="tempat_lahir">Tempat Lahir</label>
								<input type="text" name="tempat_lahir" id="tempat_lahir" class="form-control uppercase auto-update" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="tanggal_lahir">Tanggal Lahir</label>
								<input type="text" name="tanggal_lahir" id="tanggal_lahir" class="form-control datepicker auto-update" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="jenis_kelamin">Jenis Kelamin</label>
									{% for key, value in option['jenis_kelamin'] %}
									    <div>
											<label class="form-check">
												<input class="form-check-input" type="radio" name="jenis_kelamin" value="{{ key }}" required="">
												<span class="form-check-label">{{ value }}</span>
											</label>
										</div>
									{% endfor %}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="alamat">Alamat</label>
								<input type="text" name="alamat" id="alamat" class="form-control uppercase" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama">RT / RW</label>
								<input type="text" name="rt_rw" id="rt_rw" class="form-control uppercase" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama">Kel / Desa</label>
								<input type="text" name="kel_desa" id="kel_desa" class="form-control uppercase" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama">Kab / Kota</label>
								<input type="text" name="kab_kota" id="kab_kota" class="form-control uppercase" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama">Provinsi</label>
								<input type="text" name="provinsi" id="provinsi" class="form-control uppercase" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="alamat">Agama</label>
								<select class="form-control" name="agama_id" required="">
									<option value=""></option>
									{% for value in selection['agama'] %}
									    <option value="{{ value.id }}">{{ value.nama }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" class="form-control auto-update email" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="no_hp">Nomor Handphone</label>
								<input type="text" name="no_hp" id="no_hp" class="form-control auto-update no_hp" number="" min="10" length="13" required="">
							</div>
						</div>
				    </div>
			    </div>

			    <h1><span class="wizard-title" title="Orang Tua">Orang Tua</span></h1>
			    <div >
				    <div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama_ayah">Nama Ayah</label>
								<input type="text" name="nama_ayah" id="nama_ayah" class="form-control">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="pekerjaan_ayah">Pekerjaan Ayah</label>
								<input type="text" name="pekerjaan_ayah" id="pekerjaan_ayah" class="form-control">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama_ibu">Nama Ibu</label>
								<input type="text" name="nama_ibu" id="nama_ibu" class="form-control">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="pekerjaan_ibu">Pekerjaan Ibu</label>
								<input type="text" name="pekerjaan_ibu" id="pekerjaan_ibu" class="form-control">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="penghasilan_ortu">Penghasilan Orang Tua /Bulan</label>
								<input type="text" name="penghasilan_ortu" id="penghasilan_ortu" class="form-control currency">
							</div>
						</div>
				    </div>
			    </div>

			    <h1><span class="wizard-title" title="Pendidikan">Pendidikan</span></h1>
			    <div>
				    <div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="asal_sekolah">Asal Sekolah</label>
								<input type="text" name="asal_sekolah" id="asal_sekolah" class="form-control uppercase" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="jurusan">Jurusan</label>
								<input type="text" name="jurusan" id="jurusan" class="form-control" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="tinggi_badan">Tinggi Badan</label>
								<input type="text" name="tinggi_badan" id="tinggi_badan" class="form-control" number="" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="berat_badan">Berat Badan</label>
								<input type="text" name="berat_badan" id="berat_badan" class="form-control" number="" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="pasfoto">Pasphoto 3x4 <i class="fa fa-info-circle" title="Maximum file 512KB"></i></label>
								<input type="file" name="pasfoto" id="pasfoto" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="ijazah">Ijazah/SKL <i class="fa fa-info-circle" title="Maximum file 512KB"></i></label>
								<input type="file" name="ijazah" id="ijazah" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="ktp">KTP <i class="fa fa-info-circle" title="Maximum file 512KB"></i></label>
								<input type="file" name="ktp" id="ktp" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="surket_menikah">
									Surket Belum Menikah <i class="fa fa-info-circle" title="Maximum file 512KB"></i>
									<span class="note">Dari desa atau pemuka agama</span>
								</label>
								<input type="file" name="surket_menikah" id="surket_menikah" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="akte_lahir">Akte Lahir <i class="fa fa-info-circle" title="Maximum file 512KB"></i></label>
								<input type="file" name="akte_lahir" id="akte_lahir" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="kartu_keluarga">Kartu Keluarga <i class="fa fa-info-circle" title="Maximum file 512KB"></i></label>
								<input type="file" name="kartu_keluarga" id="kartu_keluarga" required="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="kartu_vaksin">Kartu Vaksin <i class="fa fa-info-circle" title="Maximum file 512KB"></i></label>
								<input type="file" name="kartu_vaksin" id="kartu_vaksin" required="">
							</div>
						</div>
				    </div>
			    </div>

			    <h1><span class="wizard-title" title="Persetujuan">Persetujuan</span></h1>
			    <div>
				    <div class="row">
				    	<div class="col-sm-6">
							<div class="form-group">
								<label for="nik_text">NIK</label>
								<input type="text" id="nik_text" class="form-control" readonly="true">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="nama_text">Nama Lengkap</label>
								<input type="text" id="nama_text" class="form-control" readonly="true">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="tempat_lahir_text">Tempat Lahir</label>
								<input type="text" id="tempat_lahir_text" class="form-control" readonly="true">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="tanggal_lahir_text">Tanggal Lahir</label>
								<input type="text" id="tanggal_lahir_text" class="form-control" readonly="true">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email_text">Email</label>
								<input type="text" id="email_text" class="form-control" readonly="true">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="no_hp_text">Nomor Handphone</label>
								<input type="text" id="no_hp_text" class="form-control" readonly="true">
							</div>
						</div>
				    	<div class="col-sm-12">
				    		<label>
				    			<input type="checkbox" name="pernyataan" required="">
				    			Dengan ini saya menyatakan bahwa data yang saya isi adalah benar dan sesuai dengan dokumen terkait dan saya memberikan data atas persetujuan saya pribadi
				    		</label>
				    	</div>
				    </div>
			    </div>

			    <h1><span class="wizard-title" title="Pembayaran">Pembayaran</span></h1>
			    <div>
			    	<div class="pembayaran-container">
			    		<h3 class="mb-5 text-center">Pembayaran Menggunakan Transfer Bank</h3>

			    		<div class="d-flex align-items-center justify-content-center">
			    			<table class="custom-table-pembayaran">
				    			<tr>
				    				<td>No. REKENING</td>
				    				<td>:</td>
				    				<td class="bold">{{ pendaftaran.norek }}</td>
				    			</tr>
				    			<tr>
				    				<td>ATAS NAMA</td>
				    				<td>:</td>
				    				<td class="bold">{{ konfigurasi.nama_bank }}</td>
				    			</tr>
				    			<tr>
				    				<td>BIAYA PENDAFTARAN</td>
				    				<td>:</td>
				    				<td class="bold">{{ pta.total_biaya|number_format(2, ',', '.') }}</td>
				    			</tr>
				    			<tr>
				    				<td>BUKTI PEMBAYARAN</td>
				    				<td>:</td>
				    				<td><input type="file" name="bukti_pembayaran" class="form-control" required=""></td>
				    			</tr>
				    		</table>
			    		</div>
			    	</div>
			    </div>
			</div>

		</form>
	</div>

{% endblock %}
